[user]
	name = Anders Nygård
	email = anders.nygard@arbetsformedlingen.se
[branch]
	autosetuprebase = always
[pull]
	rebase = true
[alias]
        s = status
        st = status -sb
        unstage = reset HEAD --
        c = commit
        co = checkout
        a = add
        ap = add -p
        lg = log --oneline --graph --decorate --all
        dc = diff --cached

